
:root {
  --background: rgb(16 25 34 / var(--tw-bg-opacity, 1));
  --color-white: #FFFFFF;
}

html,
body {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}



body {
  display: flex;
  background: var(--background);
  height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.containerPage{
  display: flex;
  padding: 0 24px 0 24px;
  overflow: hidden;
  flex-grow: 1;
}

