
:root {
  --background: rgb(16 25 34 / var(--tw-bg-opacity, 1));
  --color-white: #FFFFFF;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  
}

body {
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.containerPage{
  padding: 0 24px 0 24px;
  height: 100vh;
}
