
.container{
    padding: 20px;
}

.title{
    color: white;
    font-family: var(--font-inter);
    font-weight: 700;
    font-size: 22px;
}

.groupFilter{
    margin-top: 12px;
}

.groupFilterTitle{
    color: var(--color-white);
    font-family: var(--font-inter);
    font-size: 18px;
}