
.container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;

}

.container::-webkit-scrollbar-track {
    background: red; /* Цвет фона скроллбара */
  }

body::-webkit-scrollbar-track {
  background: orange;        /* колір скролінгової області */
}

.title{
    color: white;
    font-family: var(--font-inter);
    font-weight: 700;
    font-size: 22px;
}

