
.container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: scroll;
}

.title{
    color: white;
    font-family: var(--font-inter);
    font-weight: 700;
    font-size: 22px;
}

