.page{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.filterBlock{
    display: flex;
    width: 320px;
    border-right: 1px rgb(255 255 255 / 0.1) solid;
    margin-top: 20px;
}

.contentBlock{
    margin:36px 20px 16px 20px; 
    display: flex;
    flex: 1;
    align-items: flex-start;
}

.sortBlock{
    display: flex;
    margin-left: 20px;
    flex-direction: row;
    align-items: center;
}

.listItemsBlock{
  
}

.titlePage{
    color: var(--color-white);
    font-family: var(--font-inter);
    font-size: 32px;
    margin-left: 4px;
    line-height: 24px;
}
.titlePageBlock{
    display: flex;
    flex: 1;
    flex-direction: row;

    
}

.sortOption{
    color: var(--color-white);
    font-family: var(--font-inter);
    font-size: 14px;
    margin-left: 4px;
    background-color: #242E47;
    padding: 6px 16px;
    border-radius: 16px;
    margin-right: 8px;
}


