.footer{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0 20px 0;
    color: #91A3C9;
    font-family: var(--font-inter);
    border-top: 1px rgba(122, 35, 35, 0.1) solid;
    height: 150px;
    min-height: 150px;
}

.footer_info{
    display: flex;
    gap:76px
}

.footer_contacts{
    display: flex;
    gap: 16px;
}