.footer{
    display: flex;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0 40px 0;
    color: #91A3C9;
    font-family: var(--font-inter);
    border-top: 1px rgb(255 255 255 / 0.1) solid;
}

.footer_info{
    display: flex;
    gap:76px
}

.footer_contacts{
    display: flex;
    gap: 16px;
}